 /* Style for the whole page */

 /* Image styling *?

 img {
   width: 300px;
   border: 2px solid #ccc;
   border-radius: 8px;
   display: bloxk;
   margin: 20px 0;
  {
  
  body {
    background-color: gray:
     font-family: Arial, sans-serif;
     margin: 40px;
     color: #333:
    {
 
  /* Main heading */
  h1  {
  color:  #2a7ae2;
  font-size: 36px;